.filters-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.text-filter-form {
  display: flex;
  align-items: center;
  min-width: 150px;
}

.text-filter {
  width: 100%;
}

.text-filter-button {
  height: 100%;
  margin-left: 15px;
  color: #fff;
  background-color: #ff4081;
}

.add-news {
  button {
    color: #fff;
    background-color: #ff4081;
  }
}